body {
    margin: 0; 
    display: flex;
    flex-direction: column;
}

.tools {
    display: flex;
    gap: 10px;
    padding: 10px; 
    background: #d3c2e4;
    justify-content: center;
    transition: all 0.2s ease;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(139, 75, 179, 0.08);
    transition: all 0.3s ease;
    border-radius: 12px;

}

.tools:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.tools button:hover {
    transform: translateY(-2px);
    border-color: #d3c2e4;
}

.tools button.active {
    background-color: #d3c2e4;
}

button img {
  width: 23px;
  height: 23px;
  border-color: #d3c2e4;
}

.Workspace {
    display: flex;
}

.Canvas {
    flex: 1
}

#Canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.panel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #d3c2e4;
    padding: 3px;
    font-size: 15px;
    border: 1px solid #d3c2e4;
    padding: 10px;
    margin: 20px;
    width: 50px;
    height: 600px;
    box-shadow: 0 4px 10px rgba(139, 75, 179, 0.08);
    transition: all 0.3s ease;
    border-radius: 12px;
}

.panel:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

